
		<div class="row"><!--Foother-->
			<div class="col-md-12">
				<footer>
				    <!--/.footer-->
				    <div class="footer-bottom">
				        <div class="container">
				            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
				        </div>
				    </div>
				    <!--/.footer-bottom--> 
				</footer>
			</div>
		</div>